<div class="title">
  <h1>
    Contact Us
  </h1>
  <img width="160" alt="Nutrapp Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
</div>

<br>
<br>
<br>

<div class="contactUsText">
  If you have any suggestion, do not hesitate to write us<br>
  We will go back to you as soon as possible
</div>
<h1 class="example-container">
  <mat-form-field class="mailInput">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</h1>

<div class="example-container">
  <mat-form-field hintLabel="Max 500 characters">
    <input matInput #input maxlength="500" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
  </mat-form-field>
</div>

<div>
  <button mat-raised-button>Submit</button>
</div>
