
  <h1>
    Mes Menus Favoris
  </h1>
  <img width="160" alt="Angular Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
<div>
 <mat-tab-group class="favorite-meals">
  <mat-tab label="mon premier menu">
    Melon <br>
    Une omelette avec 3 oeufs <br>
    Une biscotte <br>
    Un yaourt nature
  </mat-tab>
  <mat-tab label="mon second menu">
  Une tranche de jambon blanc <br>
  Une cuisse de poulet <br>
  Une salade de laitue <br>
  Une banane</mat-tab>
  <mat-tab label="mon troisieme menu">
  Une salade avec 2 tomates <br>
  300gr de lentilles <br>
  Une viande rouge <br>
  Un yaourt nature
 </mat-tab>
 <mat-tab label="mon quatrieme menu">
 Une salade avec 2 tomates <br>
 300gr de lentilles <br>
 Une viande rouge <br>
 Un yaourt nature
</mat-tab>
<mat-tab label="mon cinquieme menu">
Une pizza 4 fromages <br>
1 brownie et sa glace vanille <br>
Un yaourt nature
</mat-tab>
<mat-tab label="mon sixieme menu">
Un burger poulet <br>
une glace chocolat et vanille <br>
</mat-tab>
</mat-tab-group>
</div>
