<div class="title">
  <h1>
    My Favorite Meals
  </h1>
  <img width="160" alt="Nutrapp Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
</div>

<ul>
  <mat-tab-group>
    <mat-tab *ngFor="let favMeal of favMeals" label="{{favMeal.name}}"><br>
      <li *ngFor="let aliment of favMeal.menuComposition">{{aliment.name}}</li>
      <br>
      TOTAL GLYCEMIC CHARGE {{favMeal.chargeGlyMeals}}
    </mat-tab>
  </mat-tab-group>
</ul>

<!--<div>-->
<!--<mat-tab-group class="favorite-meals">-->
<!--<mat-tab label="My First Menu">-->
<!--Melon <br>-->
<!--Une omelette avec 3 oeufs <br>-->
<!--Une biscotte <br>-->
<!--Un yaourt nature-->
<!--</mat-tab>-->
<!--<mat-tab label="My Second Menu">-->
<!--Une tranche de jambon blanc <br>-->
<!--Une cuisse de poulet <br>-->
<!--Une salade de laitue <br>-->
<!--Une banane-->
<!--</mat-tab>-->
<!--<mat-tab label="My Third Menu">-->
<!--Une salade avec 2 tomates <br>-->
<!--300gr de lentilles <br>-->
<!--Une viande rouge <br>-->
<!--Un yaourt nature-->
<!--</mat-tab>-->
<!--<mat-tab label="My Fourth Menu ">-->
<!--Une salade avec 2 tomates <br>-->
<!--300gr de lentilles <br>-->
<!--Une viande rouge <br>-->
<!--Un yaourt nature-->
<!--</mat-tab>-->
<!--<mat-tab label="My Fifth Menu">-->
<!--Une pizza 4 fromages <br>-->
<!--1 brownie et sa glace vanille <br>-->
<!--Un yaourt nature-->
<!--</mat-tab>-->
<!--<mat-tab label="My Sixth Menu">-->
<!--Un burger poulet <br>-->
<!--une glace chocolat et vanille <br>-->
<!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--</div>-->
