
<div class="title">
  <h1>
    Mon profil
   </h1>
  <img width="160" alt="Nutrapp Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
</div>

  <form class="myprofile">
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="Prénom">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="text" placeholder="Nom">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="number" placeholder="Age">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="number" placeholder="Poids">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="email" placeholder="E-mail">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="date" placeholder="Date de naissance">
    </mat-form-field>
  </form>

  <button class="submit" mat-raised-button="" color="primary"> SAVE CHANGE</button>
