app-contact-us {
  text-align: center;
}

title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-nav-bar {
  margin-top: 60px;
  line-height: 100px;
  margin-top: 330px;
  margin-left: -25px;
}
