
<form class="example-form">
  <mat-form-field class="example-full-width">

    <input type="text" placeholder="Saisir l'aliment ici:" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (ngModelChange)="clearFilter()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let aliment of alimentService.listeAliment" [value]="aliment.name">
        {{aliment.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<p>Consultation le: {{lastUpdate | date: 'short'}}</p>

<!--
<mat-form-field class="listAliment">

    <input matInput
      placeholder="New aliment..."
      #alimentInput
      #alimentGlycemieInput

      [formControl]="alimentCtrl"
      [matAutocomplete]="auto"/>
  <!-- </mat-chip-list> -->
  <!--
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let aliment of filteredAliment | async" [value]= "aliment.name">
  {{aliment.name}};

    </mat-option>


  </mat-autocomplete>

</mat-form-field>


<mat-card class="example-card" *ngIf="selectedAliment != null">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://lavieagricole.ca/media/image_article/patates.jpg" alt="Photo of potatoes">
    <mat-card-subtitle>Les apports nutritionnels de l'aliment sélectionné sont de: </mat-card-subtitle>
  <mat-card-content>
Charge Glycémique
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
-->
