<!--<mat-form-field class="listAliment">

    <input matInput
           placeholder="New aliment..."
           #alimentInput
           #alimentGlycemieInput

           [formControl]="alimentCtrl"
           [matAutocomplete]="auto"
           type="text"
           (change)="">


  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let aliment of filteredAliment; let var = selectedAliment  | async " [value]="aliment.name">
      {{aliment.name}}
    </mat-option>


  </mat-autocomplete>

</mat-form-field>-->


<!--<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="formulaire"
           [matAutocomplete]="auto" [(ngModel)]="selectedName">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let aliment of alimentService.aliment" [value]="aliment.id">
        {{aliment.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>-->

<form>
  <mat-form-field>
    <mat-select placeholder="Select some food" [(ngModel)]="selectedName" name="food">
      <mat-option *ngFor="let aliment of alimentService.aliment" [value]="aliment.id">
        {{aliment.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p> Selected value: {{selectedName}} </p>
</form>


<mat-card class="example-card" *ngIf="selectedName!==null">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TEST</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://lavieagricole.ca/media/image_article/patates.jpg" alt="Photo of potatoes">
    <mat-card-subtitle>Les apports nutritionnels de l'aliment sélectionné sont: </mat-card-subtitle>
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
