table {
  width: auto;
  }

  button {
    margin: 16px 8px;
  }

  .title {
    text-align: center;
  }

  .saisie {
    height:170px;
    width:10px;

  }

  .mat-chip {
    font-size: large;
    font-family:verdana, sans-serif;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
  }

.error {
  color: darkred;
  margin-bottom: 15px;
}

.list {
  margin-top: 40px;
}

.favMeals {
  cursor: copy;
}
