<div class="title">
  <h1>
    Glycemic Charge Calculator
  </h1>
  <img width="160" alt="Angular Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
</div>

<br>
<div class="saisie">


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Assignee" [(ngModel)]="selectedAliment" #alim placeholder="Aliment" matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <input type="number" [(ngModel)]="selectedAliment.chargeGly" #ig placeholder="Glycemic index">
    <br>
    <br>
  <input type="number" [(ngModel)]="selectedAliment.grammage" #grammage placeholder="Weight">
    <br>
    <br>
  <input type="submit" value="Add an aliment"
         (click)="add(selectedAliment.name,selectedAliment.chargeGly,selectedAliment.grammage)">

</div>

  <ul>
  <li *ngFor=" let alim of dataSource" >
    The glycemic charge of {{alim.name}} is {{alim.chargeGly}}
  </li>
</ul>
  <!--
  [(ngModel)]="alimTest.name"
  [(ngModel)]="alimTest.glycemie"
  [(ngModel)]="alimTest.chargeGly"-->
<br>
<br>
<br>


<div>{{errormessage}}</div>
<mat-chip color="primary" fxLayoutAlign="center" selected="true">GLYCEMIC TOTAL CHARGE : {{totalCharge}}</mat-chip> <br>
<button mat-raised-button color="accent" (click)="resetCharge()">Reset</button>

  <div>
    <input type="submit" value="Save to favorite meals">
  </div>
