<div class="title">
  <h1>
    Glycemic Charge Calculator
  </h1>
  <img width="160" alt="Angular Logo"
       src="https://lh3.googleusercontent.com/HR9erZZT8IOrkWF2bbs_QOGT2akpa2oSgqkaUIOOC4_g913Z9i3GZj1Bn4wYCOx2hss=w300">
</div>

  <form>
       <input type="text"  #alim placeholder="Aliment">
    <input type="text" #ig placeholder="Glycemic index">
    <input type="text" #grammage placeholder="Weight">
    <input type="submit" value="Add an aliment" (click)="add( alim.value , ig.value, grammage.value)">
  </form>


  <ul>
  <li *ngFor=" let alim of dataSource" >
    The glycemic charge of {{alim.name}} is {{alim.charge}}

  </li>
</ul>


<mat-chip color="primary" selected="true">GLYCEMIC TOTAL CHARGE : {{totalCharge}}</mat-chip> <br>


<button mat-raised-button color="accent" (click)="resetCharge()">Reset</button>


  <div>
    <input type="submit" value="Save to favorite meals">
  </div>


